<!DOCTYPE html> 
<div class="educatorPanel">
    <ul class="titleContainer">
        <li id="section_educator" class="title title_1">
            <img src="assets/bg/2x/educatorCenter/educatorSection_tools.png" alt="educatorSection_tools" />
        </li>
        <li id="section_treksTravels" class="title title_2">
            <img src="assets/bg/2x/educatorCenter/educatorSection_tt.png" alt="educatorSection_tt" />
        </li>
        <li id="section_WelcomeToReading" class="title title_3">
            <img src="assets/bg/2x/educatorCenter/educatorSection_wtr.png" alt="educatorSection_wtr" />
        </li>
    </ul>
    <div class="descriptionContainer">
        
    </div>
</div>