<!DOCTYPE html> 
<div id="readmodal_template">
	<div class="modalClose">
		<img src="../assets/modal/modalExit.png" alt="close"/>
	
	</div>
		<ul id="readModalbxslider">
			{{#each categoryListBooks.data }}
			<li class="spread" data-index="{{@index}}">
				<div>{{title}}</div>
				<div class="spreadTextContainer_{{audioFile}} spreadTextContainer spreadText" style="position:absolute;" data-audio="{{audioFile}}">
					{{#breakWords text}}{{/breakWords}}
				</div>
			</li>
		{{/each}}
	</ul>
	<div class="modal-footer">
        <span class="slidePrev" id="slider-prev"></span>
		<span class="slideNext" id="slider-next"></span>
		<span class="slideButton slidePlayStop">
			<img src="../assets/modal/modalStop.png" alt="slide play stop"/>
		</span>   
	</div>
</div>
