    
        <div id="image_banner">
            <a id="imageId" href="#"><img style="max-width: 100%" src="images/article_banner.jpg"></a>
	    <span class="arrow-up"><a href="javascript:;" title="Show the Description"><!--<img src="images/uparrow.jpg" alt="Show the Description" />--></a></span>
            <div class="description">
		 <span class="arrow-down"><a href="javascript:;" title="Hide the Description"><!--<img src="images/down.jpg" alt="Hide the Description" />--></a></span>      
                  <div class='description_content'>
                    <h3>Perth, Australia </h3>
                    <h6>Home Article: <a href="javascript:;" >Perth</a></h6>
                    <p>Perth is the capital and chief business center of the state of Western Australia.
                    It is also one of Australia's largest cities. The downtown area of Perth stands on the northern bank of the Swan River.
                    Modern high-rise buildings dominate the city skyline, shown here.</p>
                  </div>
		  <div class="description_option">
		    <h6 class="blue_text"><a href="#">Save to My Research</a></h6>
		     <span class="sticky-notes"> &copy; Pictor International/Alamy</span>
		 </div>
             </div>
            <div class="clear"></div>
       </div> <!--banner image-->
       
       <div id="content">
            <div id="image_column">
                <a href="images/demoEnlarge.jpg" class="fancybox"><img src="images/demo.jpg" /></a><p>Western Australia </p>
                <a href="images/pc060911.gif" class="fancybox"><img src="images/pc060911.gif"></a><p>Gold mine in Western Australia </p>
                <a href="images/demoEnlarge.jpg" class="fancybox"><img src="images/demo.jpg" /></a><p>Western Australia</p>
            </div>
          <div id="backgroundPopup"></div>
            <div id="text_column">
              <p class="content_text"><span class="content_subtitle">Western Australia </span>is the largest state in area in Australia. It occupies the western third of the continent. But Western Australia only has about 10 percent of Australia's people. In the inland regions of Western Australia, there are large areas of desert and semidesert. Perth, on the southwest coast, is the capital and largest city.</p> 
              <p class="content_text">Western Australia has been known by a number of slogans. It has been called the Wildflower State because of its variety of flowering plants. It also used the slogan State of Excitement because of its booming economy. From 1984 to 1987, it used the slogan Home of the America's Cup after Australia won the America's Cup sailing race in 1983. Later, Western Australia changed the slogan to the Golden State. More than three-fourths of the gold mined in Australia comes from Western Australia.</p>
              
              <h3 class="content_title">People</h3>
              <p class="content_text"><span class="content_subtitle">Population. </span> About 3 percent of the people in Western Australia are of Aboriginal or Torres Strait Islander descent. About three-fifths of the state’s people were born in Australia. People who immigrated to Western Australia since the mid-1900’s also make up a significant part of the population. The largest group of immigrants were born in the United Kingdom. Other immigrants came from China, India, Italy, Malaysia, New Zealand, the Philippines, and South Africa.
                 Most of the people of Western Australia live in towns or cities. About 75 percent live and work in the Perth region.</p> 
              
              <h3 class="content_title">Land and Climate</h3>
              <p class="content_text">Western Australia can be broken into seven different land regions. They are the Central Desert Area, the Ord River Basin, the Kimberleys, the Northwest, the Plateau, the Coastal Margins, and the Nullarbor Plain..</p>
                
              <p class="content_text"><span class="content_subtitle">The Central Desert Area</span> is made up of the Great Victoria Desert, the Gibson Desert, and the Great Sandy Desert. These deserts extend across much of the Western Australian interior. The Great Sandy Desert lies in the north. The Great Victoria Desert covers part of the southeast. The Gibson Desert lies between them.</p> 
	              
	    </div>
        <div class="clear"></div>
       </div>