    <div class="image_video_page" id="articlepage"><!--outer div-->
       <div style="width:100%;margin-left:32px">
         <div id="content">
	  <div id="image_slideshow">
	    <h2 class="image_txt blue_text">Photos</h2>
	    <ul class="bxslider">
		   <li>
		    <a href="images/pc316110.gif" class="fancybox" rel="gallery"><img src="images/hill_road.jpg" /></a>
		    <p>Perth,Autralia</p>
		   </li>
		    <li>
			<a href="images/home.gif" class="fancybox" rel="gallery"><img src="images/hill_trees.jpg" /></a>
			<p>Western Australia flag and coat of arms</p>
		    </li>
		    <li>
			<a href="images/horse.jpg" class="fancybox" rel="gallery"><img src="images/houses.jpg" /></a>
			<p>David Wynford Carnegie</p>
		    </li>
		    <li>
			<a href="images/seashore.jpg" class="fancybox" rel="gallery"><img src="images/mountain.jpg" /></a>
			<p>Trees from other parts of the world</p>
		    </li>
		    <li>
			<a href="images/drygrazingland.gif" class="fancybox" rel="gallery"><img src="images/trees.jpg" /></a>
			<p>Western Australia flag and coat of arms</p>
		    </li>
		    <li>
			<a href="images/4_b.jpg" class="fancybox" rel="gallery"><img src="images/tree_root.jpg" /></a>
			<p>David Wynford Carnegie</p>
		    </li>
	    </ul>
	  </div>
	  <div id="image_slideshow">
	    <h2 class="maps_text blue_text">Maps</h2>
	    <ul class="bxslider">
		   <li>
		    <a href="images/demoEnlarge.jpg" class="fancybox" rel="gallery"><img src="images/demo.jpg" /></a>
		    <p>Perth,Autralia</p>
		   </li>
		    <li>
			<a href="images/demoEnlarge.jpg" class="fancybox" rel="gallery"><img src="images/demo.jpg" /></a>
			<p>Western Australia flag and coat of arms</p>
		    </li>
		    <li>
			<a href="images/demoEnlarge.jpg" class="fancybox" rel="gallery"><img src="images/demo.jpg" /></a>
			<p>David Wynford Carnegie</p>
		    </li>
		    <li>
			<a href="images/demoEnlarge.jpg" class="fancybox" rel="gallery"><img src="images/demo.jpg" /></a>
			<p>Trees from other parts of the world</p>
		    </li>
		    <li>
			<a href="images/demoEnlarge.jpg" class="fancybox" rel="gallery"><img src="images/demo.jpg" /></a>
			<p>Western Australia flag and coat of arms</p>
		    </li>
		    <li>
			<a href="images/demoEnlarge.jpg" class="fancybox" rel="gallery"><img src="images/demo.jpg" /></a>
			<p>David Wynford Carnegie</p>
		    </li>
	    </ul>
	  </div>
	  <div id="image_slideshow">
	    <h2 class="maps_text blue_text">Videos</h2>
	    <ul class="bxslider">
		   <li>
		    <a class="fancyvideo5" name="video/mov_bbb.mp4"><img src="images/hill_road.jpg" /></a>
		    <p>Perth,Autralia</p>
		   </li>
		    <li>
			<a class="fancyvideo5" name="video/mov_bbb.mp4"><img src="images/hill_trees.jpg" /></a>
			<p>Western Australia flag and coat of arms</p>
		    </li>
		    <li>
			<a class="fancyvideo5" name="video/mov_bbb.mp4"><img src="images/houses.jpg" /></a>
			<p>David Wynford Carnegie</p>
		    </li>
		    <li>
			<a class="fancyvideo5" name="video/mov_bbb.mp4"><img src="images/mountain.jpg" /></a>
			<p>Trees from other parts of the world</p>
		    </li>
		    <li>
			<a class="fancyvideo5" name="video/mov_bbb.mp4"><img src="images/trees.jpg" /></a>
			<p>Western Australia flag and coat of arms</p>
		    </li>
		    <li>
			<a class="fancyvideo5" name="video/mov_bbb.mp4"><img src="images/tree_root.jpg" /></a>
			<p>David Wynford Carnegie</p>
		    </li>
	    </ul>
	  </div>
	
	</div>
       </div>  
     
    