<div>
            <div class="left_link">
		<ul id="sidemenu">
		    <li>
			<a class="blue_text"><strong>Related Primary Resource</strong></a>
		   </li> 
		   <li>
			<a class="blue_text"  href="#encylopedia_Article" class="open"><strong>Encyclopedia Article</strong></a>
			
		    </li> 
		   <li>
			<a href="#books_read"><strong>Books To Read</strong></a>
		   </li>
		    <li>
			<a href="#books_read"><strong>Back in Time Articles</strong></a>
		   </li>
		   <li>
			<a href="#special_report"><strong>Special Report</strong></a>
		   </li> 
		   <li>
			<a href="#website"><strong>Web site</strong></a>
		   </li>
		    <li>
			<a href="#website"><strong>Magazine Articles</strong></a>
		   </li>
		     <li>
			<a href="#website"><strong>Content Standards</strong></a>
		   </li>
		      <li>
			<a href="#website"><strong>Selected Media</strong></a>
		   </li>
		</ul>
		 <div class="clear"></div>
	    </div>
             <div id="linkcontent">
		<div id="encylopedia_Article" class="contentblock">
		    <h2 class="blue_text">eBooks</h2>
		    <h6 class="blue_text verticle_subtitle">"Evolution of Theology:An Anthropological Study,"Science and Hebrew Tradition:Essays</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Autobiography and Selected Essays</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Conditions of Existence as Affecting the Prepetuation of Living Beings</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Criticism on the Origin of species</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h2 class="blue_text">Print Books</h2>
		    <p><strong>Level1</strong></p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            
             <p><strong>Level2</strong></p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		</div>
		<div id="books_read" class="contentblock hidden">
		  <h2 class="blue_text">eBooks</h2>
		    <h6 class="blue_text verticle_subtitle">"Evolution of Theology:An Anthropological Study,"Science and Hebrew Tradition:Essays</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Autobiography and Selected Essays</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Conditions of Existence as Affecting the Prepetuation of Living Beings</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Criticism on the Origin of species</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h2 class="blue_text">Print Books</h2>
		    <p><strong>Level1</strong></p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            
             <p><strong>Level2</strong></p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      		</div>
		<div id="special_report" class="contentblock hidden">
		    <h2 class="blue_text">eBooks</h2>
		    <h6 class="blue_text verticle_subtitle">"Evolution of Theology:An Anthropological Study,"Science and Hebrew Tradition:Essays</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Autobiography and Selected Essays</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Conditions of Existence as Affecting the Prepetuation of Living Beings</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Criticism on the Origin of species</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h2 class="blue_text">Print Books</h2>
		    <p><strong>Level1</strong></p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            
             <p><strong>Level2</strong></p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      		</div>
		<div id="website" class="contentblock hidden">
		    <h1>Website</h1>
		     <h2 class="blue_text">eBooks</h2>
		    <h6 class="blue_text verticle_subtitle">"Evolution of Theology:An Anthropological Study,"Science and Hebrew Tradition:Essays</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Autobiography and Selected Essays</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Conditions of Existence as Affecting the Prepetuation of Living Beings</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h6 class="blue_text verticle_subtitle">Criticism on the Origin of species</h6>
		    <p>Huxley,Thomas Henry,i825-i895z</p>
		    
		    <h2 class="blue_text">Print Books</h2>
		    <p><strong>Level1</strong></p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            
             <p><strong>Level2</strong></p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
		    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      		</div>
	     </div>
	    <div class="clear"></div>
	</div><!-- end of vertical tab div-->
    